<br><br><br>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-danger rounded-3">
            <h2>الالحان</h2>
            <p>الحان مدرسة الشمامسه من السنه الاولي الي السنه التاسعه</p>
            <button class="btn btn-outline-light" type="button">ادخل</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-success border rounded-3">
            <h2>النتائج</h2>
            <p>نتائج الامتحانات</p>
            <button class="btn btn-outline-light" type="button">ادخل</button>
        </div>
    </div>
</div>
<br><br>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>المناهج</h2>
            <p>هنا يمكنك الاطلاع علي مناهج اللغة القبطيه والطقس والمحفوظات لكل سنه</p>
            <button class="btn btn-outline-light" type="button">ادخل</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-warning rounded-3">
            <h2>شكاوي</h2>
            <p>هنا يمكنك ارسال رسائل لنا .. ان كنت تشتكي من شيئا او تريد الاستفسار عن شئ معين </p>
            <button class="btn btn-outline-light" type="button">ادخل</button>
        </div>
    </div>
</div>