<header
    class="d-flex flex-md-row align-items-center justify-content-between p-3 px-4 mb-3 bg-dark border-bottom fixed-top shadow-sm">
    <img src="assets/images/logo.png" alt="logo" style="max-height: 70px;">
    <nav class="my-2 fs-3">
        <a class="p-2 link-light text-decoration-none" href="#" i18n>Home</a>
        <a class="p-2 link-light text-decoration-none" href="#" i18n>Melodies</a>
        <a class="p-2 link-light text-decoration-none" href="#" i18n>Contact</a>
        <a class="p-2 link-light text-decoration-none" href="#" i18n>Subjects</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="btn btn-outline-secondary me-2">Login</a>
        <a class="btn btn-outline-secondary me-3">Sign up</a>

    </div>
</header>